input[type=checkbox] {
    display: none;
  }
  .slide-toggle {
    display: block;
    position: relative;
    flex: none;
    width: 26px;
    height: 16px;
    border-radius: 15px;
    background-color: #d7d2cb;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1;
    margin: 10px;
  }
  .slide-toggle::before,
  .slide-toggle::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    border-radius: 15px;
    height: 14px;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
  }
  .slide-toggle::before {
    z-index: -1;
    width: 24px;
    right: 1px;
    transform: scale(1);
  }
  .slide-toggle::after {
    z-index: 1;
    width: 14px;
    left: 1px;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
  }
  input:checked + .slide-toggle {
    background-color: #069cd8;
  }
  input:checked + .slide-toggle::before {
    transform: scale(0);
  }
  input:checked + .slide-toggle::after {
    transform: translate3d(10px, 0, 0);
  }